# Dependencias
node_modules/
.pnp
.pnp.js

# Builds
dist/
dist-electron/
out/
build/Release/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Env / secretos
.env
.env.local
.env.*.local

# Tests
coverage/
